extends layout

block content
    a(href="/login" style="float:right;")
        button.btn.btn-success Sign In
    h2.loginuser!= currentUser
    
    .container.col-sm-12
        .container.col-sm-12
            .row
                .col-xs-12
                    .input-group
                        span.input-group-addon
                            span 0
                        input.form-control.text-center(type="text" placeholder="Alternative 1")
            br
            .row
                .col-xs-6
                    .input-group
                        span.input-group-addon
                            span.glyphicon.glyphicon-align-justify
                        input.form-control.text-center(type="text" placeholder="Pro 1")
                .col-xs-6
                    .input-group
                        span.input-group-addon
                            span.glyphicon.glyphicon-align-justify
                        input.form-control.text-center(type="text" placeholder="Con 1")
    .container.col-sm-1.col-xs-12.text-center
        span.glyphicon.glyphicon-plus.form-control-static
